.cartWrapper {
  height: 100px;
  width: 355px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 54px;
}

.imgWrapper img {
  width: 100px;
}

.item {
}

.btnWrapper button {
  padding: 10px;
  border: 0;
  background-color: cornflowerblue;
  border-radius: 5px;
  color: #fff;
}

.addToKart img {
  width: 50px;
}

.addToKart {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
